body {
    background: black;
    color: #00ff41;
    font-family: "Courier New", monospace;
}

h1 {
    font-size: 50px;
    text-align: center;

    /* Effet lumineux vert */
    text-shadow:
        0 0 5px #00ff41,
        0 0 10px #00ff41;
}

